<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Calculator</title>
</head>
<body>
  <div id="app">
    <input v-model="var1">
    <input v-model="var2">
    <br><br>
    <button v-on:click="add"> + </button>
    <button v-on:click="subtract"> - </button>
    <button v-on:click="multiply"> * </button>
    <button v-on:click="divide"> / </button>
    <br>
    <p id="hasil"> {{ hasil }} </p>
  </div>
  <script src="app.js"></script>
</body>
</html>
